 .u-section-1 {
  background-image: url("/images/gh.jpg");
  background-position: 50% 50%;
  min-height: 870px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 117px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 765px;
  background-image: url("/images/face_40.svg");
  background-position: 50% 42.31%;
}

.u-section-1 .u-container-layout-1 {
  padding: 31px 0 30px 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 770px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 48px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 127px 2px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 2;
  margin: 37px 42px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 2;
  font-weight: 700;
  margin: 0 96px 0 2px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.27;
  margin: 42px auto 0 0;
  padding: 14px 52px 16px 51px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 489px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 631px;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 38px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 346px;
  }

  .u-section-1 .u-image-1 {
    background-position: 73.33% 50%;
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 589px;
  }

  .u-section-1 .u-image-1 {
    min-height: 704px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 359px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -444px;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -5px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-2 .u-group-1 {
  width: 790px;
  min-height: 1066px;
  height: auto;
  margin: 60px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 12px 40px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 48px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 79px auto 0 0;
  padding: 17px 46px 17px 45px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2667em;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 541px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-3 .u-image-1 {
  min-height: 451px;
  background-image: url("/images/002621.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  min-height: 451px;
  background-image: url("/images/00129.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-image-2 {
    min-height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 285px;
  }

  .u-section-3 .u-image-2 {
    min-height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 428px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 428px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 269px;
  }

  .u-section-3 .u-image-2 {
    min-height: 269px;
  }
}.u-section-4 .u-image-1 {
  min-height: 352px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("/images/a33c29b4-0a40-4d00-929c-4a3b0db90e08.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  line-height: 2;
  font-size: 1rem;
  width: 735px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-1 {
  height: 434px;
  width: 941px;
  margin: -53px auto 75px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-4 .u-back-image-1 {
  object-position: 66.86% 50%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-2 {
  object-position: 9.6% 50%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-3 {
  object-position: 33.14% 50%;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 660px;
  }

  .u-section-4 .u-gallery-1 {
    height: 997px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: 520px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2243px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 320px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1412px;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1367px;
}

.u-section-5 .u-shape-1 {
  height: 427px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 729px;
  height: 729px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -295px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-image-2 {
  width: 596px;
  height: 596px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -318px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-group-1 {
  min-height: 476px;
  width: 437px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -388px calc(((100% - 1140px) / 2) + 69px) 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 7px 20px;
}

.u-section-5 .u-text-1 {
  margin: 35px 36px 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 17px 33px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 30px auto 0 33px;
  padding: 14px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    height: 390px;
  }

  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-2 {
    width: 419px;
    height: 486px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 402px;
    margin-right: calc(((100% - 940px) / 2) + 69px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1358px;
  }

  .u-section-5 .u-image-1 {
    width: 703px;
    height: 463px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-2 {
    width: 397px;
    margin-top: -309px;
    margin-left: calc(((100% - 720px) / 2) + 23px);
  }

  .u-section-5 .u-group-1 {
    min-height: 479px;
    margin-right: calc(((100% - 720px) / 2) + 70px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1122px;
  }

  .u-section-5 .u-shape-1 {
    height: 357px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 356px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-2 {
    width: 364px;
    height: 414px;
    margin-top: -129px;
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-5 .u-group-1 {
    min-height: 507px;
    width: 375px;
    margin-top: -332px;
    margin-right: calc(((100% - 540px) / 2) + 43px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 722px;
  }

  .u-section-5 .u-shape-1 {
    height: 271px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 224px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 387px;
    margin-top: 71px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    min-height: 472px;
    width: 340px;
    margin-top: -132px;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/images/triangle_1.svg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 358px);
  min-height: 188px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 55px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding-right: 22px;
  padding-left: 60px;
}

.u-section-8 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: -67px 0 0 110px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.375rem;
  padding: 0;
}

.u-section-8 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 746px);
  margin: -188px 0 16px auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 172px;
  grid-gap: 0px;
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px 20px 10px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-8 .u-text-3 {
  letter-spacing: 0px;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 60px 20px 10px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-8 .u-text-5 {
  letter-spacing: 0px;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 60px 20px 10px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-8 .u-text-7 {
  letter-spacing: 0px;
  font-weight: 700;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 331px);
    min-height: 221px;
    height: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 104px;
  }

  .u-section-8 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 590px);
    margin-top: -221px;
    margin-bottom: -77px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-8 .u-text-4 {
    font-size: 2rem;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-8 .u-text-6 {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 537px;
    min-height: 196px;
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-8 .u-list-1 {
    width: 543px;
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 55px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 299px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
  }

  .u-section-8 .u-text-5 {
    width: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
  }

  .u-section-8 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.875rem;
  }
}