 .u-section-1 {
  background-image: url("/images/fractal_1.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-btn-1 {
  margin: 336px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 10.9376em;
  width: 175px;
  height: 238px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px 20px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 9.375rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: 27px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 351px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 171px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 290px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 188px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 236px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 226px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 265px;
}

.u-section-2 .u-text-1 {
  font-size: 2.75rem;
  margin: 70px 84px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 745px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 702px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-video-1 {
  height: 498px;
  width: 997px;
  margin: 50px auto 52px 65px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-3 .u-video-1 {
    height: 470px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-3 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3 .u-video-1 {
    height: 200px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 265px;
}

.u-section-4 .u-text-1 {
  font-size: 2.75rem;
  margin: 68px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 745px;
  margin: 42px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 702px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 600px;
}

.u-section-5 .u-video-1 {
  width: 937px;
  height: 493px;
  margin: 53px auto 52px;
}

@media (max-width: 991px) {
  .u-section-5 .u-video-1 {
    width: 720px;
    height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-video-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-video-1 {
    width: 340px;
    height: 179px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 540px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 100px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 710px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 999px;
  margin: 53px auto 53px 64px;
}

.u-section-7 .u-image-1 {
  min-height: 354px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("/images/tree_2023-01-09_22-44-21.svg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 40px 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 280px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  margin: 30px auto 0 20px;
  padding: 21px 65px 21px 64px;
}

.u-section-7 .u-image-2 {
  min-height: 634px;
  background-image: url("/images/fractal_5.svg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-7 .u-group-1 {
  width: 423px;
  min-height: 202px;
  height: auto;
  background-image: none;
  margin: 32px -48px 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 55px 0 13px;
}

.u-section-7 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 30px 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 823px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 396px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 4px;
    margin-right: 5px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 4px;
    margin-right: 19px;
  }

  .u-section-7 .u-image-2 {
    min-height: 597px;
  }

  .u-section-7 .u-group-1 {
    width: 383px;
    height: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 620px;
  }

  .u-section-7 .u-image-1 {
    min-height: 298px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    min-height: 542px;
  }

  .u-section-7 .u-group-1 {
    width: 303px;
    min-height: 140px;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 451px;
  }

  .u-section-7 .u-image-1 {
    min-height: 406px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 676px;
  }

  .u-section-7 .u-group-1 {
    width: 408px;
    min-height: 171px;
    margin-top: 72px;
    margin-left: 78px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 290px;
  }

  .u-section-7 .u-image-1 {
    min-height: 261px;
  }

  .u-section-7 .u-image-2 {
    min-height: 462px;
  }

  .u-section-7 .u-group-1 {
    width: 330px;
    min-height: 139px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8 .u-video-1 {
  height: 500px;
  width: 997px;
  margin: 50px auto 50px 64px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-8 .u-video-1 {
    height: 471px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-8 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-8 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-8 .u-video-1 {
    height: 200px;
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 105px;
}.u-section-10 .u-sheet-1 {
  min-height: 848px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 730px;
}

.u-section-10 .u-container-layout-1 {
  padding: 10px 64px 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 16px 16px 0 0;
}

.u-section-10 .u-image-1 {
  height: 525px;
  margin-top: 31px;
  margin-bottom: 0;
  object-position: 50% 98.55%;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 730px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-video-1 {
  height: 384px;
  width: 421px;
  margin: 134px auto 0;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  margin: 43px auto 0;
  padding: 21px 65px 21px 64px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    height: 406px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-10 .u-video-1 {
    height: 374px;
    width: 410px;
    margin-top: 153px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-1 {
    height: 356px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-10 .u-video-1 {
    height: 274px;
    width: 300px;
    margin-top: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-10 .u-image-1 {
    height: 617px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 92px;
    padding-left: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-10 .u-image-1 {
    height: 380px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 500px;
}

.u-section-11 .u-group-1 {
  width: 800px;
  min-height: 218px;
  height: auto;
  margin: 60px auto;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-group-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-group-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 600px;
}

.u-section-12 .u-video-1 {
  height: 500px;
  width: 997px;
  margin: 50px auto 50px 64px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-12 .u-video-1 {
    height: 471px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-12 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-12 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-12 .u-video-1 {
    height: 200px;
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 105px;
}.u-section-14 .u-sheet-1 {
  min-height: 1182px;
}

.u-section-14 .u-video-1 {
  height: 1001px;
  width: 993px;
  margin: 51px auto 60px 67px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-14 .u-video-1 {
    height: 948px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-14 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-14 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-14 .u-video-1 {
    height: 200px;
    width: 340px;
  }
} .u-section-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/tree_3.svg");
  background-position: 50% 50%;
}

.u-section-15 .u-sheet-1 {
  min-height: 879px;
}

.u-section-15 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  width: 867px;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 3.75rem;
  margin: 267px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-15 .u-text-1 {
    width: auto;
    margin-top: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-15 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.5rem;
  }
}